body{
background:#f4f6fb;
font-family:Segoe UI;
}

.hero{
background-image:url("image/banner.jpg");
background-size:cover;
background-position:center;
padding:100px;
color:white;
text-align:center;
min-height:100px;
}

.form-box{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.page-img{
width:120px;
display:block;
margin:auto;
margin-bottom:20px;
}

.card{
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

.footer{
background:#212529;
color:white;
padding:10px;
}

.course-card:hover{
transform:scale(1.05);
transition:0.3s;
}

.register-img{
background-image:url("image/regis.png");
background-size:cover;
background-position:center;
min-height:100vh;
}

.login-img{
background-image:url("image/login.png");
background-size:cover;
background-position:center;
min-height:110vh;
border-radius:10px;
}

.admin{min-height:100vh;
background-position:center; }